.navbar-site {
  display: flex;
  height: 50px;
  background-color: #8d448b;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  .logo {
    height: 30px;
    width: 120px;
    background: #fff;
    margin: 8px;
  }

  .user-logout {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .user-pic {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 100%;
  }

  .btn-logout {
    height: 40px;
    width: 50px;
    background: #fff;
    display: flex;
    margin: 8px;
    cursor: pointer;
    align-items: center;
    text-align: center;
  }
}
